body {
    background-color: #27678D;
    margin: 0; 
    height: 99%; 
}

#map {
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

.pedina {
    position: absolute;
    visibility: hidden;
}

.triangolini{
    fill:rgb(228, 231, 231,0.4);
}

#cube .front {
    transform: translateZ(100px);
}

#cube .back {
    transform: rotate(90deg) rotateY(180deg) translateZ(100px);
}

#cube .right {
    transform: rotateX(-90deg) translateZ(100px);
}

#cube .left {
    transform: rotateY(90deg) translateZ(100px);
}

#cube .top {
    transform: rotateX(90deg) translateZ(100px)
}

#cube .bottom {
    transform: rotateY(-90deg) translateZ(100px)
    ;
}

.container {
    transform: scale(0.25);
    border: 8px solid #DFA207;
    background-color: rgb(223, 162, 7, 0.5);
    width: 200px;
    height: 200px;
    position: relative;
    top: -60%;
    left: 65%; 
    padding: 10% 15%;  
}

#cube {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 5s;
}

#cube:hover {
    cursor: pointer;
}

#cube div {
    background: #27678D;
    display: block;
    position: absolute;
    width: 200px;
    height: 100px;
    padding: 50px 0px;
}

.dot {
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    background: #DFA207;
    border-radius: 15px;

}

.front .dot1 {
    top: 85px;
    left: 85px;
}

.bottom .dot1 {
    top: 45px;
    left: 45px;
}

.bottom .dot2 {
    top: 125px;
    left: 125px;
}

.right .dot1 {
    top: 45px;
    left: 45px;
}

.right .dot2 {
    top: 85px;
    left: 85px;

}

.right .dot3 {
    top: 125px;
    left: 125px;
}

.top .dot1 {
    top: 45px;
    left: 45px;
}

.top .dot2 {
    top: 45px;
    left: 125px;
}

.top .dot3 {
    top: 125px;
    left: 45px;
}

.top .dot4 {
    top: 125px;
    left: 125px;
}

.left .dot1 {
    top: 45px;
    left: 45px;
    ;
}

.left .dot2 {
    top: 45px;
    left: 125px;
}

.left .dot3 {
    top: 85px;
    left: 85px;
}

.left .dot4 {
    top: 125px;
    left: 45px;
}

.left .dot5 {
    top: 125px;
    left: 125px;
}

.back .dot1 {
    top: 45px;
    left: 45px;
}

.back .dot2 {
    top: 45px;
    left: 85px;
}

.back .dot3 {
    top: 45px;
    left: 125px;
}

.back .dot4 {
    top: 125px;
    left: 45px;
}

.back .dot5 {
    top: 125px;
    left: 85px;
}

.back .dot6 {
    top: 125px;
    left: 125px;
}

#pic {
    margin-top: 40px;
    width: 195px;
    height: 158px;
}

#bottone {
    background: #774f33;
    border-bottom: 3px inset rgba(0, 0, 0, 0.5);
    border-left: 3px inset rgba(0, 0, 0, 0.5);
    border-right: 3px inset rgba(255, 255, 255, 0.5);
    border-top: 3px inset rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    color: #fff;
    font-family: 'Cookie', cursive;
    cursor: pointer;
    font-size: 20px;
    margin: 30px;
    padding-bottom: 2px;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 3px;
    border-radius: 10px;
}

#card {
    position: absolute;
    transform-style: preserve-3d;
    padding: 10px;
    margin: 30px;
    text-align: center;
    width: 200px;
    height: 300px;
    background: #DFA207;
    border-radius: 20px;
    box-shadow: 15px 15px #27678D;
}

#davanti {
    backface-visibility: hidden;
}

#dietro {
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

#dom {
    margin-top: 7px;
    margin-bottom: 30px;
    font-family: 'Cookie', cursive;
    padding: 3px;
    background: #27678D;
    color: #fff;
    font-size: 25px;
    border-radius: 10px;
    padding-top: 3px;
    padding-left: 3px;
    padding-right: 3px;
}

#ris {
    display: grid;
    grid-gap: 10px;
}


#ris label {
    font-family: 'Cookie', cursive;
    background: #27678D;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
    text-align: center;
    padding: 4px;
}

#ris label.correct {
    box-shadow: inset 0px 0px 0px 3px green;
}

#ris label.wrong {
    box-shadow: inset 0px 0px 0px 3px red;
}