body {
    background-color: #27678D;
}

#gioco {
    filter: blur(10px);
    margin: 0;
    height: 99%;
}

#inizia {
    width: 50%;
    height: 50%;
}

#nrGiocatori {
    box-shadow: 1px 2px 40px -5px rgba(0, 0, 0, 1);
    text-align: center;
    position: absolute;
    background: #27678D;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 40%;
    height: 40%;
    border-radius: 30px;
}

#play {
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 10rem;
    height: 10rem;
    background: radial-gradient(#DFA207 60%, rgba(255, 255, 255, 1) 67%);
    border-radius: 50%;
    position: fixed;
    margin: auto;
    border: none;
    box-shadow: 0px 0px 25px 3px rgb(223, 162, 7, 0.8);
}

#play:before {
    font-family: 'Cookie';
    font-size: 2rem;
    color: rgba(255, 255, 255);
    content: "!click me!";
    position: absolute;
    width: 150%;
    height: 150%;
    animation: pulsate 2s;
    animation-iteration-count: infinite;
    opacity: 1;
    border-radius: 50%;
    border: 0.3rem solid rgba(255, 255, 255, .75);
    top: -28%;
    left: -28%;
}

@keyframes pulsate {
    0% {
        transform: scale(0.7);
        opacity: 1;
        box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
    }

    100% {
        transform: scale(1.2);
        opacity: 0;
        box-shadow: none;
    }
}

#map {
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

.pedina {
    position: absolute;
    visibility: hidden;
}

#cube .front {
    transform: translateZ(100px);
}

#cube .back {
    transform: rotate(90deg) rotateY(180deg) translateZ(100px);
}

#cube .right {
    transform: rotateX(-90deg) translateZ(100px);
}

#cube .left {
    transform: rotateY(90deg) translateZ(100px);
}

#cube .top {
    transform: rotateX(90deg) translateZ(100px)
}

#cube .bottom {
    transform: rotateY(-90deg) translateZ(100px);
}

.container {
    transform: scale(0.25);
    border: 8px solid #DFA207;
    background-color: rgb(223, 162, 7, 0.5);
    width: 180px;
    height: 200px;
    position: relative;
    top: -60%;
    left: 65%;
    padding: 10% 15%;
}

#cube {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 5s;
}

#cube:hover {
    cursor: pointer;
}

#cube div {
    background: #27678D;
    display: block;
    position: absolute;
    width: 200px;
    height: 100px;
    padding: 50px 0px;
}

.dot {
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    background: #DFA207;
    border-radius: 15px;

}

.front .dot1 {
    top: 85px;
    left: 85px;
}

.bottom .dot1 {
    top: 45px;
    left: 45px;
}

.bottom .dot2 {
    top: 125px;
    left: 125px;
}

.right .dot1 {
    top: 45px;
    left: 45px;
}

.right .dot2 {
    top: 85px;
    left: 85px;

}

.right .dot3 {
    top: 125px;
    left: 125px;
}

.top .dot1 {
    top: 45px;
    left: 45px;
}

.top .dot2 {
    top: 45px;
    left: 125px;
}

.top .dot3 {
    top: 125px;
    left: 45px;
}

.top .dot4 {
    top: 125px;
    left: 125px;
}

.left .dot1 {
    top: 45px;
    left: 45px;
    ;
}

.left .dot2 {
    top: 45px;
    left: 125px;
}

.left .dot3 {
    top: 85px;
    left: 85px;
}

.left .dot4 {
    top: 125px;
    left: 45px;
}

.left .dot5 {
    top: 125px;
    left: 125px;
}

.back .dot1 {
    top: 45px;
    left: 45px;
}

.back .dot2 {
    top: 45px;
    left: 85px;
}

.back .dot3 {
    top: 45px;
    left: 125px;
}

.back .dot4 {
    top: 125px;
    left: 45px;
}

.back .dot5 {
    top: 125px;
    left: 85px;
}

.back .dot6 {
    top: 125px;
    left: 125px;
}

#pic {
    margin-top: 0.8rem;
    width: 90%;
    height: 70%;
}

#bottone {
    background: #774f33;
    border-bottom: 3px inset rgba(0, 0, 0, 0.5);
    border-left: 3px inset rgba(0, 0, 0, 0.5);
    border-right: 3px inset rgba(255, 255, 255, 0.5);
    border-top: 3px inset rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    color: #fff;
    font-family: 'Cookie', cursive;
    cursor: pointer;
    font-size: 20px;
    margin: 30px;
    padding-bottom: 2px;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 3px;
    border-radius: 10px;
    transform: scale(1.2);
}

#card {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform-style: preserve-3d;
    padding: 10px;
    margin: auto;
    text-align: center;
    width: 18%;
    height: 60%;
    background: #DFA207;
    border-radius: 20px;
    box-shadow: 15px 15px rgb(40, 105, 145, 0.8);
}

#davanti {
    backface-visibility: hidden;
}

#dietro {
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

#dom {
    margin-top: 0.3rem;
    margin-bottom: 1rem;
    font-family: 'Cookie', cursive;
    padding: 0.1rem;
    background: #27678D;
    color: #fff;
    font-size: 2rem;
    border-radius: 10px;
}

#ris {
    display: grid;
    grid-gap: 1rem;
}


#ris label {
    font-family: 'Cookie', cursive;
    background: #27678D;
    border-radius: 10px;
    font-size: 1.6rem;
    cursor: pointer;
    color: #fff;
    padding: 0.1rem;
}

#ris label.correct {
    box-shadow: inset 0px 0px 0px 0.2rem #008000;
}

#ris label.wrong {
    box-shadow: inset 0px 0px 0px 0.2rem #ff0000;
}

#vincita {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: #27678d;
    text-align: center;
    border-radius: 3rem;
    width: 50%;
    height: 40%;
    box-shadow: -1px -2px 42px -19px rgba(0, 0, 0, 0.74);
}

#congra {
    margin-top: 1%;
    width: 50%;
    height: 40%;
}

h3 {
    color: white;
    letter-spacing: 1px;
    font-family: 'Cookie', cursive;
    font-size: 2em;
    margin-bottom: 3%;
}

#btn {
    font-family: 'Cookie', cursive;
    background: #DFA207;
    border-radius: 1rem;
    border: 0px;
    width: 12rem;
    height: 2rem;
    font-size: 1.2em;
    color: white;
    cursor: pointer;
}

#lista {
    transform: rotate(40deg);
    text-align: initial;
    position: absolute;
    width: 10%;
    height: 30%;
    margin-top: 3%;
    margin-left: 7%;
}
